<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShareFromAppStoreExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>667ECE141FC36784009233DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667ECE281FC36784009233DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667ECE331FC36784009233DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66AA1DF61FC56519001C419E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
